In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

問題２４

問題27

In [3]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

splitは分けること、で分ける

In [7]:
address.split('J')

['Tokyo,', 'apan']

文字列に名前を付ける。.split('J')

In [8]:
address.upper()

'TOKYO,JAPAN'

.upperは大文字になる。

In [9]:
name='taro'

In [10]:
len(name)

4

len()で文字列の長さ

lenは関数と呼ぶ　len(データ）

問題26 答えメッゾト

問題29

In [12]:
 address.index('T')

0

In [13]:
address.index('p')

8

indexは文字列から特定の文字を探す方法。数字は左から数えた数字。文字列に無いものを入力
すると、エラーになる。

問題28 split:指定された文字で分割する。

In [2]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 2, 5)
result = date_b- date_a

In [3]:
date_a.year

2008

In [4]:
date_a.weekday()

1

name.upper()
括弧あり：何らかの処理をする、メゾット

date_a.year
括弧なし：データにアクセスするだけ、属性　（問題３８）

In [6]:
date.today()

datetime.date(2017, 5, 17)

In [7]:
birthday = date(2017,5,10)

In [8]:
date_c = date.today()

In [9]:
life = date_c - birthday

In [10]:
print(life)

7 days, 0:00:00

In [14]:
birthday = date (1997,6,13)

In [12]:
life= date_c - birthday

In [15]:
print(life)

7278 days, 0:00:00

In [16]:
tmp = date.today()

In [17]:
tmp

datetime.date(2017, 5, 17)

In [18]:
tmp.weekday()

2

In [19]:
tmp = date(1994,1,1)

In [21]:
tmp = '1994,1,1'
tmp = [1994,1,1]

問題46の答え

In [26]:
date.today()

datetime.date(2017, 5, 17)

オブジェクトはデータの塊